<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Gostei.club - Seu Clube de Oportunidades, Produtos e Amostra Grátis para você dizer sua opinião!</title>

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicon -->


	<!-- Google Webfont -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,800' rel='stylesheet' type='text/css'>


	<!-- CSS -->

	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>



	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	


</head>
<body id="page-top">
    
<div id="body">


    
    
    
	<!-- PRICING -->
	<div class="pricing">
		<div class="container">
            
           
			<div class="row">
            
				<div class=" content-head-lite">
					<h3><img src="images/logo.png" width="10%" /></h3>
                    
                    <p style="color:#fff; margin-top:-4px;"><span style="color:#fcb63e ;">Receba Produtos Grátis em Casa! </span> Faça parte do nosso Clube de Oportunidades, receba produtos em casa sem pagar nada e nos conte o que achou!</p>
                   
				</div>
			</div>

            
			<div class="row">
                
                
                
				<!-- Pricing Plan - 1 -->
				<div class="col-md-2">
					<div class="panel panel-default text-center">
						<div style="backgound-color:#fff; padding-bottom:10px;">
                            <img src="http://gosteiclub-12bd.kxcdn.com/images/products/pringles.jpg" style="width:100%;" />						
						</div>
						<div class="panel-heading">
							<strong>Batata Pringles</strong>
						</div>
						<ul class="list-group">
							<li class="list-group-item">50 Unidades <b>Grátis</b></li>
							<li class="list-group-item"><a class="btn-main term-popup" href="#">Eu Quero!</a></li>
						</ul>
					</div>
				</div>
                
                
                
				<!-- Pricing Plan - 1 -->
				<div class="col-md-2">
					<div class="panel panel-default text-center">
						<div style="backgound-color:#fff; padding-bottom:10px;">
                            <img src="http://gosteiclub-12bd.kxcdn.com/images/products/omo.jpg" style="width:100%;" />						
						</div>
						<div class="panel-heading">
                            <strong>Novo Omo <span class="label label-success">Novo </span></strong>
						</div>
						<ul class="list-group">
							<li class="list-group-item">50 Unidades <b>Grátis</b></li>
							<li class="list-group-item"><a class="btn-main term-popup" href="#">Eu Quero!</a></li>
						</ul>
					</div>
				</div>
                
                
                
				<!-- Pricing Plan - 1 -->
				<div class="col-md-2">
					<div class="panel panel-default text-center">
						<div style="backgound-color:#fff; padding-bottom:10px;">
                            <img src="http://gosteiclub-12bd.kxcdn.com/images/products/coca.jpg" style="width:100%;" />						
						</div>
						<div class="panel-heading">
							<strong>Coca-Cola 600Ml</strong>
						</div>
						<ul class="list-group">
							<li class="list-group-item">50 Unidades <b>Grátis</b></li>
							<li class="list-group-item"><a class="btn-main term-popup" href="#">Eu Quero!</a></li>
						</ul>
					</div>
				</div>
                
                
                
				<!-- Pricing Plan - 1 -->
				<div class="col-md-2">
					<div class="panel panel-default text-center">
						<div style="backgound-color:#fff; padding-bottom:10px;">
                            <img src="http://gosteiclub-12bd.kxcdn.com/images/products/lacoste.jpg" style="width:100%;" />						
						</div>
						<div class="panel-heading">
							<strong>Perfume Lacoste</strong>
						</div>
						<ul class="list-group">
							<li class="list-group-item">50 Unidades <b>Grátis</b></li>
							<li class="list-group-item"><a class="btn-main term-popup" href="#">Eu Quero!</a></li>
						</ul>
					</div>
				</div>
                
                
                
                
				<!-- Pricing Plan - 1 -->
				<div class="col-md-2">
					<div class="panel panel-default text-center">
						<div style="backgound-color:#fff; padding-bottom:10px;">
                            <img src="http://gosteiclub-12bd.kxcdn.com/images/products/0cal.jpg" style="width:100%;" />						
						</div>
						<div class="panel-heading">
							<strong>Zero-Cal em Gotas</strong>
						</div>
						<ul class="list-group">
							<li class="list-group-item">50 Unidades <b>Grátis</b></li>
							<li class="list-group-item"><a class="btn-main term-popup" href="#">Eu Quero!</a></li>
						</ul>
					</div>
				</div>
                                
                
                
				<!-- Pricing Plan - 1 -->
				<div class="col-md-2">
					<div class="panel panel-default text-center">
						<div style="backgound-color:#fff; padding-bottom:10px;">
                            <img src="http://gosteiclub-12bd.kxcdn.com/images/products/cabo.jpg" style="width:100%;" />						
						</div>
						<div class="panel-heading">
							<strong>Super Cabo HDMI</strong>
						</div>
						<ul class="list-group">
							<li class="list-group-item">50 Unidades <b>Grátis</b></li>
							<li class="list-group-item"><a class="btn-main term-popup" href="#">Eu Quero!</a></li>
						</ul>
					</div>
				</div>
                
                
                
				<!-- Pricing Plan - 1 -->
				<div class="col-md-2">
					<div class="panel panel-default text-center">
						<div style="backgound-color:#fff; padding-bottom:10px;">
                            <img src="http://gosteiclub-12bd.kxcdn.com/images/products/pringles.jpg" style="width:100%;" />						
						</div>
						<div class="panel-heading">
							<strong>Batata Pringles</strong>
						</div>
						<ul class="list-group">
							<li class="list-group-item">50 Unidades <b>Grátis</b></li>
							<li class="list-group-item"><a class="btn-main term-popup" href="#">Eu Quero!</a></li>
						</ul>
					</div>
				</div>
                
                
                
				<!-- Pricing Plan - 1 -->
				<div class="col-md-2">
					<div class="panel panel-default text-center">
						<div style="backgound-color:#fff; padding-bottom:10px;">
                            <img src="http://gosteiclub-12bd.kxcdn.com/images/products/omo.jpg" style="width:100%;" />						
						</div>
						<div class="panel-heading">
                            <strong>Novo Omo <span class="label label-success">Novidade</span></strong>
						</div>
						<ul class="list-group">
							<li class="list-group-item">50 Unidades <b>Grátis</b></li>
							<li class="list-group-item"><a class="btn-main term-popup" href="#">Eu Quero!</a></li>
						</ul>
					</div>
				</div>
                
                
                
				<!-- Pricing Plan - 1 -->
				<div class="col-md-2">
					<div class="panel panel-default text-center">
						<div style="backgound-color:#fff; padding-bottom:10px;">
                            <img src="http://gosteiclub-12bd.kxcdn.com/images/products/coca.jpg" style="width:100%;" />						
						</div>
						<div class="panel-heading">
							<strong>Coca-Cola 600Ml</strong>
						</div>
						<ul class="list-group">
							<li class="list-group-item">50 Unidades <b>Grátis</b></li>
							<li class="list-group-item"><a class="btn-main term-popup" href="#">Eu Quero!</a></li>
						</ul>
					</div>
				</div>
                
                
                
				<!-- Pricing Plan - 1 -->
				<div class="col-md-2">
					<div class="panel panel-default text-center">
						<div style="backgound-color:#fff; padding-bottom:10px;">
                            <img src="http://gosteiclub-12bd.kxcdn.com/images/products/lacoste.jpg" style="width:100%;" />						
						</div>
						<div class="panel-heading">
							<strong>Perfume Lacoste</strong>
						</div>
						<ul class="list-group">
							<li class="list-group-item">50 Unidades <b>Grátis</b></li>
							<li class="list-group-item"><a class="btn-main term-popup" href="#">Eu Quero!</a></li>
						</ul>
					</div>
				</div>
                
                
                
                
				<!-- Pricing Plan - 1 -->
				<div class="col-md-2">
					<div class="panel panel-default text-center">
						<div style="backgound-color:#fff; padding-bottom:10px;">
                            <img src="http://gosteiclub-12bd.kxcdn.com/images/products/0cal.jpg" style="width:100%;" />						
						</div>
						<div class="panel-heading">
							<strong>Zero-Cal em Gotas</strong>
						</div>
						<ul class="list-group">
							<li class="list-group-item">50 Unidades <b>Grátis</b></li>
							<li class="list-group-item"><a class="btn-main term-popup" href="#">Eu Quero!</a></li>
						</ul>
					</div>
				</div>
                                
                
                
				<!-- Pricing Plan - 1 -->
				<div class="col-md-2">
					<div class="panel panel-default text-center">
						<div style="backgound-color:#fff; padding-bottom:10px;">
                            <img src="http://gosteiclub-12bd.kxcdn.com/images/products/cabo.jpg" style="width:100%;" />						
						</div>
						<div class="panel-heading">
							<strong>Super Cabo HDMI</strong>
						</div>
						<ul class="list-group">
							<li class="list-group-item">50 Unidades <b>Grátis</b></li>
							<li class="list-group-item"><a class="btn-main term-popup" href="#">Eu Quero!</a></li>
						</ul>
					</div>
				</div>      
                
			</div>
		</div>
	</div>


</div>


<!-- TERMS / POPUP -->
<div class="overlay-dark"></div>
<div class="terms" style="padding: 0px;">
  
      <div class="col-md-12 sub-form"  id="formFields" style="padding: 0px;">
        <div id="sub-form">
          <form class="subscribe" novalidate id="invite">

              <h5 class="sub-form-h5" id="msgStatus" style="margin-top:-20px;" >Faça parte do nosso clube!</h5>

            <div>

              <input type="text" name="lname" id="lname" class="lname" placeholder="nome" ng-model="user.name">
              <input type="email" name="email" id="email" class="e-mail" placeholder="exemplo@email.com" ng-model="user.email">

              <select class="sexo" name="gender" id="gender" ng-model="user.gender">
                <option value="" disabled selected>&nbsp;&nbsp;sexo</option>
                <option value="F">&nbsp;&nbsp;Feminino</option>
                <option value="M">&nbsp;&nbsp;Masculino</option>
              </select>


              <div class="clearfix"></div>
              <div class="space20"></div>

              <div class="pos_bt">
                <button id="checkoutButton" class="btn-main btn-center" type="button" style="padding: 15px;">Quero Participar!</button>
              </div>

       
            </div>


          </form>
        </div>


      </div>

</div>
</div>


</body>
</html>


<script type="text/javascript">

  	
  	var isEmail = function (email) {
     	var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
     	return regex.test(email);
   	};

	
	var IsValidString = function(a){
		if (!a) {return false;}
   		if (!a.trim()) {return false;}
		return true;
   	};



   	var validateForm = function(){
   		return IsValidString($("#lname").val()) && IsValidString($("#gender").val()) && isEmail($("#email").val());
   	};


   	var save = function(){

   		if(validateForm()){

   			var data = {
   				name  : $("#lname").val(),
   				email : $("#email").val(),
   				gender: $("#gender").val()
   			};
			
			$.post( "http://104.236.251.213:3009/users", data)
				
				.done(function() {
					window.location.href = "http://www.gostei.club/#/perguntas?email="+$("#email").val()+"&canal=landing";
				})
				
				.fail(function() {
					console.log("error");
				});
 		}
   	}



 	$("#checkoutButton").on("click", function () {

		if(!validateForm()){
			$("#msgStatus").html("Preencha os campos !!!");
			$("#msgStatus").css("background", "#FF0000");		
 		
 		}else{
 			save();
 		}
	
	});




  // Custom Popup
  $(".term-popup").on("click", function () {
  	
    $(".terms").addClass("terms-active");
    $(".overlay-dark").addClass("active");
  });

  $(".overlay-dark").on("click", function () {
    $(".terms").removeClass("terms-active");
    $(".overlay-dark").removeClass("active");
  });

 

</script>